<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://antsavings.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>antsavings</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$antsavings</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="mysavings" Order="1" Enabled="True">
          <Destination Path="Data Source=xjf47ugu10.database.windows.net;Initial Catalog=antsavings_db;User ID=joao;Password=antsavings!bd1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyFinance.Core.DAL.MyFinanceDataContext, MyFinance.Core" MigrationConfiguration="MyFinance.Core.Migrations.Configuration, MyFinance.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mysavings-Web.config Connection String">
      <ParameterValue>Data Source=xjf47ugu10.database.windows.net;Initial Catalog=antsavings_db;User ID=joao;Password=antsavings!bd1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>