@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <strong>Para dúvidas e sugetões entre em contato conosco através de nossas redes sociais:</strong>
    <a href="https://facebook.com/antsavings">facebook</a>
</address>