﻿@model  MyFinance.Web.Models.PercentageRuleViewModel

@using (Html.BeginForm("AddPercentageRule", "Rules", FormMethod.Post, new { id = "addPercentageRuleForm" }))
{
    <div>
        @Html.HiddenFor(m => m.DistributionPercentage.DistributionRuleId, Model.DistributionPercentage.DistributionRuleId)
    </div>
    <div>
        @Html.LabelFor(m => m.DistributionPercentage.Fund)
        @Html.DropDownListFor(m => m.DistributionPercentage.FundID, Model.FundsList)
    </div>
    <div>
        @Html.LabelFor(m => m.DistributionPercentage.Reserve)
        @Html.DropDownListFor(m => m.DistributionPercentage.ReserveID, Model.ReservesList)
    </div>
    <div>
        @Html.LabelFor(m => m.DistributionPercentage.Percentage)
        @Html.TextBoxFor(m => m.DistributionPercentage.Percentage)
    </div>
}