﻿@model MyFinance.Web.Models.RulesViewModel

<table id="rulesTable">
    <colgroup>
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var entry in Model.RuleList)
            {
                <tr>
                    <td>
                        @entry.Name
                    </td>
                    <td>
                        <a type="button" href="#" onclick="loadPartial('@Url.Action("RulesPercentagePartial", "Rules")', { ruleId: @entry.Id }, '#setRulesPercentage');" class="btn btn-success">Set</a>
                        <a type="button" href="#" onclick="removeSelectedRow('@Url.Action("RemoveRule", "Rules")', { ruleId: @entry.Id });" class="btn btn-success">x</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Add a rule.</h3>
@Html.Partial("AddRulePartial", Model)
<input type="button" onclick="postAndUpdate('@Url.Action("AddRule", "Rules")', '#addRuleForm', '#dashboardContent', '#addFundModal');" value="Add Rule" class="btn btn-success" />

<div id="setRulesPercentage">

</div>