﻿@model  MyFinance.Web.Models.ReserveViewModel

@using (Html.BeginForm("AddReserve", "Reserves", FormMethod.Post, new { id = "addReserveForm" }))
{
    <div>
        @Html.LabelFor(m => m.Reserve.Name)
        @Html.TextBoxFor(m => m.Reserve.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Reserve.NameAbbreviation)
        @Html.TextBoxFor(m => m.Reserve.NameAbbreviation)
    </div>
    <div>
        @Html.LabelFor(m => m.Reserve.PeriodToWithdraw)
        @Html.TextBoxFor(m => m.Reserve.PeriodToWithdraw)
    </div>
    <div>
        @Html.LabelFor(m => m.Reserve.TimeUnit)
        @Html.DropDownListFor(m => m.Reserve.TimeUnit, Model.TimeUnitList)
    </div>
}
