﻿@model MyFinance.Web.Models.ReserveViewModel

<div id="reservesTable" class="tbl tbl-striped">
    <div class="row tbl-header" style="font-weight: bold;">
        <div class="col-md-4">Name</div>
        <div class="col-md-3">Abbreviation</div>
        <div class="col-md-3">Period To withdraw</div>
        <div class="col-md-2 text-center">Remove</div>
    </div>
    <div style="height: 215px;" class="tbl-line">
        <div id="data-container" class="slimscroll">
            @if (Model != null)
            {
                foreach (var entry in Model.ReserveList)
                {
                    <div class="row tbl-row">
                        <div class="col-md-4">
                            @entry.Name
                        </div>
                        <div class="col-md-3">
                            @entry.NameAbbreviation
                        </div>
                        <div class="col-md-3">
                            @entry.PeriodToWithdraw @entry.TimeUnit
                        </div>
                        <div class="col-md-2 text-center">
                            <a href="#" onclick="loadPartial('@Url.Action("RemoveReserve", "Reserve")', { reserveId: @entry.ID }, '#dashboardContent'); return false;"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<h3>Add a reserve.</h3>
@Html.Partial("AddReservePartial", Model)
<input type="button" onclick="postAndUpdate('@Url.Action("AddReserve", "Reserve")', '#addReserveForm', '#dashboardContent', '#addFundModal');" value="Add Reserve" class="btn btn-success" />
<script>
    $('.slimscroll').slimScroll({
        height: 'auto',
    });
</script>