﻿@model List<MyFinance.Core.Model.Transaction>

<div id="transactionWrap" class="tbl tbl-striped" >
    <div class="row tbl-header" style="font-weight: bold;">
        <div class="col-xs-2">Data</div>
        <div class="col-xs-3">Objetivo</div>
        <div class="col-xs-3">Fundo</div>
        <div class="col-xs-2">Origem</div>
        <div class="col-xs-2 text-right" style="padding-right: 30px;">Valor</div>
    </div>
    <div style="height: 215px;" class="tbl-line">
        <div id="data-container" class="slimscroll">
            @if (Model != null)
            {
                foreach (var entry in Model)
                {
                    <div class="row tbl-row">
                        <div class="col-xs-2 tbl-col">@entry.Date.ToShortDateString()</div>
                        <div class="col-xs-3 tbl-col" title="@entry.Reserve.Name">@entry.Reserve.Name</div>
                        <div class="col-xs-3 tbl-col" title="@entry.Fund.Name">@entry.Fund.Name</div>
                        <div class="col-xs-2 tbl-col" title="@(entry.ProfitId.HasValue ? "Rendimentos" : entry.Origins)">@(entry.ProfitId.HasValue ? "Rendimentos" : entry.Origins)</div>
                        <div class="col-xs-2 tbl-col text-right @(entry.Value > 0 ? "text-info" : "text-danger")" style="padding-right: 30px;">@entry.Value.ToString("#,0.00")</div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script>
    $('.slimscroll').slimScroll({
        height: 'auto',
    });
</script>