﻿@model  MyFinance.Core.Model.Fund

@using (Html.BeginForm("AddFund", "Funds", FormMethod.Post, new { id = "addFundForm" }))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.NameAbbreviation)
        @Html.TextBoxFor(m => m.NameAbbreviation)
    </div>
}