﻿@model MyFinance.Web.Models.FundsViewModel

<div id="fundsTable" class="tbl tbl-striped">
    <div class="row tbl-header" style="font-weight: bold;">
        <div class="col-md-6">Name</div>
        <div class="col-md-3">Abbreviation</div>
        <div class="col-md-3 text-center">Remove</div>
    </div>
    <div style="height: 215px;" class="tbl-line">
        <div id="data-container" class="slimscroll">
            @if (Model != null)
            {
                foreach (var entry in Model.FundList)
                {
                    <div class="row tbl-row">
                        <div class="col-md-6">@entry.Name</div>
                        <div class="col-md-3">@entry.NameAbbreviation</div>
                        <div class="col-md-3 text-center">
                            <a href="#" onclick="loadPartial('@Url.Action("RemoveFund", "Funds")', { fundId: @entry.ID }, '#dashboardContent'); return false;"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<h3>Add a fund.</h3>
@Html.Partial("AddFundPartial", Model.Fund)
<input type="button" onclick="postAndUpdate('@Url.Action("AddFund", "Funds")', '#addFundForm', '#dashboardContent', '#addFundModal');" value="Add Fund" class="btn btn-success" />

<script>
    $('.slimscroll').slimScroll({
        height: 'auto',
    });
</script>