﻿@{
    ViewBag.Title = "Dashboard";
}

@section scripts {
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/scripts/viewscripts/Dashboard/Index.js"></script>
    <script>

        $(document).ready(function () {
            $('#btnManager').on('click', { btnName: '#btnManager' }, loadPanel);
            $('#btnFunds').on('click', { btnName: '#btnFunds' }, loadPanel);
            $('#btnReserves').on('click', { btnName: '#btnReserves' }, loadPanel);
            $('#btnRules').on('click', { btnName: '#btnRules' }, loadPanel);

            $('#fundList').change(reloadGrid);
            $('#reserveList').change(reloadGrid);

            $('.value-mask').mask('###########0,00', { reverse: true });
            $('.datetime-mask').mask('00/00/0000');
            $('.datepicker').datepicker({
                language: 'pt-BR',
                format: 'dd/mm/yyyy'
            });
        });

        function loadPanel(e) {
            $('#btnManager').removeClass('active');
            $('#btnFunds').removeClass('active');
            $('#btnReserves').removeClass('active');
            $('#btnRules').removeClass('active');
            $(e.data.btnName).addClass('active');

            if (e.data.btnName == '#btnManager') {
                $.get('@Url.Action("SavingsAccountPartial", "Manager")', null, function (data) {
                    $('#dashboardContent').html('').append(data);
                    $('#fundList').change(reloadGrid);
                    $('#reserveList').change(reloadGrid);
                });
            }
            else if (e.data.btnName == '#btnFunds') {
                $.get('@Url.Action("FundsPartial", "Funds")', null, function (data) {
                    $('#dashboardContent').html('').append(data);
                });
            }
            else if (e.data.btnName == '#btnReserves') {
                $.get('@Url.Action("ReservesPartial", "Reserve")', null, function (data) {
                    $('#dashboardContent').html('').append(data);
                });
            }
            else if (e.data.btnName == '#btnRules') {
                $.get('@Url.Action("RulesPartial", "Rules")', null, function (data) {
                    $('#dashboardContent').html('').append(data);
                });
            }
        }

        function reloadGrid() {
            $.post('@Url.Action("GetTransationList", "Manager")',
                { fundId: $('#fundList').val(), reserveId: $('#reserveList').val() },
                function (data) {
                    $('#transactionList').html('').append(data.transactionList);
                    $('#balance').html('').append(data.balance);
                });
        }
    </script>
}

<div class="content">
    <h3>Dashboard / <span class="small"> Account</span></h3>
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical btn-block">
                <button id="btnManager" type="button" class="btn btn-inverse">Gerenciador</button>
                <button id="btnFunds" type="button" class="btn btn-inverse">Fundos</button>
                <button id="btnReserves" type="button" class="btn btn-inverse">Objetivos</button>
                <button id="btnRules" type="button" class="btn btn-inverse">Regras de Depósito</button>
            </div>
        </div>
        <div id="dashboardContent" class="col-md-10 white-container">
            @Html.Action("SavingsAccountPartial", "Manager")
        </div>
    </div>
</div>